#logo
{

	text-align: left;
	font-size: 22px;
	padding-top: 25px;
	padding-left: 26px;
	padding-bottom: 25px;
	background-color: white;

}

h4
{

	text-align: left;
	font-size: 20px;
	padding-left: 26px;
}


p
{

	padding-left: 30px;
	text-align: left;
}


body
{

	background-color: white;
}